body {
  margin: 20px;
}

.container {
  max-width: 800px;
}

.vertical-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 70%;
}

[data-ember-action] {
  cursor: pointer;
}

.hidden {
  display: none;
}

.center {
  display: block;
  margin: auto;
}

.circle {
  border-radius: 60%;
}

.language {
  display: inline-block;
  width: 280px;
}

.status {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.status.status-on {
  background-color: gray;
}

.status.status-off {
  background-color: red;
}

video {
  width: 100%;
  height: auto;
}

div {
  position: relative;
}

.videos {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.videos.remote-video-off #local-video {
}


.videos.remote-video-off #remote-video {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
}

.videos.remote-video-on #local-video {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
}

.videos.remote-video-on #local-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.message {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #f4f4f4;
}

.message.local {
  text-align: left;
}

.message.remote {
  text-align: right;
}

.message .content-wrapper {
  margin-top: 5px
}

.message .content {
  padding: 3px 7px 3px 7px;
  border-radius: 10px;
}

.message .original-content {
  background-color: blue;
  color: black;
}

.message .translated-content {
  background-color: black;
  color: white;
}

.speech-recognition-button {
  margin: auto;
  width: 80px;
}

.chat {
  max-width: 640px;
  max-height: 640px;
  margin: 20px auto 0;
  padding: 0 70px;
  overflow-y: scroll;
}

.chat-form input {
  width: 80%;
  padding: 4px;
}

.flag {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.flag.circle {
  background-size: 150%;
  background-position: -16px;
}

.flag.GB {
  background-image: url(/images/flags/GB.png);
}

.flag.US {
  background-image: url(/images/flags/US.png);
}

.flag.DE {
  background-image: url(/images/flags/DE.png);
}

.flag.ES {
  background-image: url(/images/flags/ES.png);
}

.flag.FR {
  background-image: url(/images/flags/FR.png);
}

.flag.IT {
  background-image: url(/images/flags/IT.png);
}

.flag.HU {
  background-image: url(/images/flags/HU.png);
}

.flag.NL {
  background-image: url(/images/flags/NL.png);
}

.flag.PL {
  background-image: url(/images/flags/PL.png);
}

.flag.PT {
  background-image: url(/images/flags/PT.png);
}

.flag.SK {
  background-image: url(/images/flags/SK.png);
}

.flag.SE {
  background-image: url(/images/flags/SE.png);
}

.shepherd-element.shepherd-theme-arrows.shepherd-element-aint-no-river-wide-enough {
  max-width: 600px;
}

.shepherd-element.shepherd-theme-arrows.shepherd-has-title .shepherd-content header {
  background: none;
  padding-bottom: 0;
}

.shepherd-element.shepherd-theme-arrows.shepherd-has-title .shepherd-content header h3 {
  font-weight: bold;
  font-size: 20px;
}
